@model EcoPoint.Models.Reciclagem

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Reciclagem</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Usuario)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Usuario.CPF)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Ecoponto)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Ecoponto.CNPJ)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoMaterial.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Peso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Peso)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PontosGerados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PontosGerados)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Data)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Data)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoMaterial)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoMaterial)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FotoPeso)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FotoPeso)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
