@model EcoPoint.Models.Usuario

@{
    ViewData["Title"] = "Detalhes do Usuário";
}

<div class="container mt-5">

    <div class="card shadow border-0 p-5"
         style="border-radius:20px;">

        <h1 class="fw-bold mb-4"
            style="color:#1D3557;">

            👤 Detalhes do Usuário

        </h1>

        <div class="mb-3">

            <strong>Nome:</strong>
            @Model.Nome

        </div>

        <div class="mb-3">

            <strong>CPF / CNPJ:</strong>
            @Model.CPF

        </div>

        <div class="mb-3">

            <strong>Email:</strong>
            @Model.Email

        </div>

        <div class="mb-3">

            <strong>Perfil:</strong>
            @Model.TipoUsuario

        </div>

        <div class="mb-3">

            <strong>Pontos:</strong>

            <span class="badge"
                  style="background-color:#1D3557;">

                ⭐ @Model.Pontos

            </span>

        </div>

        <div class="mb-4">

            <strong>Data de Cadastro:</strong>

            @Model.DataCadastro.ToString("dd/MM/yyyy")

        </div>

        <a asp-action="Index"
           class="btn btn-outline-secondary">

            Voltar

        </a>

    </div>

</div>